Python/ml/datasets/

## Intermediate documents:
*.dvi
*-converted-to.*

### Editor ###
## Vim & Emacs temp files:
.*sw[op]
*~

### TeX ###
## Core latex/pdflatex auxiliary files:

*.aux
*.log
*.out

*.toc
*.mtc*
*.lof
*.lot

*.bbl
*-blx.bib
*.blg

*.xml
*.maf
*.ist
*.fls
*.glg
*.glo
*.gls
*.slg
*.syg
*.syi

## VIDEO
*.mp4


.wakatime-project
